<div class="text-center">
<h1>Edit Workout</h1>
</div>

<% if @workout.errors.any? %>
    <h2>The following errors prevented the workout from being saved</h2>
    <ul>
        <% @workout.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end%>

<%= form_with(model: @workout, local: true) do |f| %>

<%= f.label :title%><br>
<%= f.text_field :title, placeholder: :title %>
<br>
<%= f.label :length%><br> 
<%= f.text_field :length, placeholder: :length_in_minutes %>
<br>
<%= f.label :difficulty%><br>
<%= f.text_field :difficulty, placeholder: :rating_1_to_5 %>
<br>
<%= f.label :description%><br>
<%= f.text_area :description, placeholder: :workout_descriprion %>
<br>
<%= f.hidden_field :user_id %><br />
<%= f.hidden_field :trainer_id %><br />
<%= f.submit %>

<% end %>