<div class="jumbotron text-center">
<h2>Hello, <%= current_user.username %></h2>
</div>

<div class="text-center">
<h3>Your Workouts:</h3>
</div>

<div class="text-center">
<% @user.workouts.each do |workout| %>
<ul>
    <%= link_to "#{workout.title}", workout_path(workout) %>
</ul>    
<%end%>
</div>


<%= link_to "Buddy Body's Workouts", user_workouts_path(current_user) %><br>
<%= link_to "Buddy Body's Trainers", trainers_path%><br>
<%= button_to "Logout", logout_path, method: :delete%>